* {
    font-family: 'Times New Roman', Times, serif;
}
.labels {
    background-color: beige;
}
li {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    color: blue;
}