* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

h2,
h3, p {
    margin: 12px;
}

ol {
    margin: 12px 32px;
}

body#homepage {
    background-image: url("../img/limon.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.labels {
    background-color: beige;
    border: 2px solid brown;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    margin: 12px;

}
img {
    border-radius: 8px;
    margin: 12px;
}
ul {
    list-style: none;
    margin: 12px;
}

li{
   font-size: 24px;
   border: 2px solid beige;
   padding: 8px;
   margin-right: 5px;
   margin: auto;
   display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    color: blue;
}