* {
    font-family: 'Times New Roman', Times, serif;
}
.labels {
    background-color: beige;
    border: 2px solid brown;
    text-align: center;
    padding: 8px;
}

li {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    color: blue;
}